.Discover {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* size and placement */
  height: 80%;
  top: 10%;
  text-align: center;
  background-color: black;
}

.recommendation {
  position: relative;
}

.recommendation:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: linear-gradient(to bottom, transparent 50%, black 100%);
}

.Discover img {
  display: flex;
  width: 100%;
}

.friend-icon {
  position: relative;
  color: whitesmoke;
}

.friend-username {
  color: whitesmoke;
}

.discover-rating {
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  text-align: left;
  filter: drop-shadow(1px 1px 2px black);
}

.discover-title {
  position: absolute;
  z-index: 1;
  bottom: 0.5em;
  left: 0.5em;
  margin: 0;
  color: whitesmoke;
  text-shadow: 2px 2px 3px #000000;
}

.add-button {
  position: absolute;
  z-index: 1;
  bottom: 0.25em;
  right: 0.25em;
  color: whitesmoke;
}
