.Friends {
  position: fixed;
  width: 100%;
  height: 80%;
  top: 10%;
}

.friend-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  width: 80%;
  height: 60%;
  margin: 5% 10%;
}

.friend-item {
  padding: 5px 0;
}

.friend-item svg {
  padding: 5px;
}

.friend-name {
  margin: auto 0;
  padding: 5px;
}

.friend-account {
  display: inline-flex;
  flex-basis: 75%;
}

.friend-delete {
  display: flex;
  flex-basis: 25%;
  justify-content: flex-end;
}

.divider {
  flex-basis: 100%;
  height: 0;
}
