.Friend {
  text-align: center;
  margin: 10% 0;
}

.FriendHeader {
  margin: 10%;
}

.FriendWatchList {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.Poster {
  margin: 1em;
}
