.Search {
  position: fixed;
  width: 100%;
  height: 80%;
  top: 10%;
  text-align: center;
}

.SearchForm {
  position: fixed;
  width: 100%;
  margin: 10% 0;
  bottom: 15%;
}

.SearchList {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: space-around;
  margin: 10% 0;
}

.search-placeholder {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.placeholder-icon {
  width: 100px;
}

.Poster {
  margin: 1em;
}

.posterPlaceholder {
  /* sizing and display */
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 92px;
  height: 138px;
  margin-bottom: 4px;
  /* color and outline */
  background-color: black;
  outline: 1px dashed whitesmoke;
  outline-offset: -3px;
  /* text */
  text-transform: uppercase;
  color: whitesmoke;
}

.posterPlaceholder p {
  margin: auto 0;
  padding: 5px;
}

.poster-missing {
  font-size: 8px;
}
