.Search {
  position: fixed;
  height: 80%;
  top: 10%;
  text-align: center;
}

.SearchForm {
  position: fixed;
  width: 100%;
  margin: 10% 0 0;
  bottom: 15%;
}

.SearchList {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: space-around;
  margin-bottom: 10%;
}

.Poster {
  margin: 1em;
}

.posterPlaceholder {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 92px;
  height: 138px;
  background-color: black;
  text-transform: uppercase;
  color:whitesmoke;
  margin-bottom: 4px;
}

.posterPlaceholder p {
  margin : auto 0;
}

.poster-missing {
  font-size: 8px;
}