.Queue {
  position: absolute;
  overflow: scroll;
  height: 80%;
  top: 10%;
  text-align: center;
}

h2 {
  margin-bottom: 0;
}

.QueueList {
  display: inline-flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.Poster {
  margin: 1em;
}
